VITE_SUPABASE_URL=https://avzmgxmthykqlrqjiwps.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2em1neG10aHlrcWxycWppd3BzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwMjc3MjYsImV4cCI6MjA5NjYwMzcyNn0.iKk612tRu8a4Wrl_gsS1x_o033AXnbBqKpN1iW9Shqg
